.description {
   background-color: #F5F5F2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }

  @media (max-width: 768px) {
   .description {
      flex-direction: column;
   }
  }