.reviews__subtitle {
   text-align: center;
   margin: 0;
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;
   padding-bottom: 80px;
   color: #65665C;
}

@media (max-width: 768px) {
   .reviews__subtitle {
      max-width: calc(100% - 30px);
      margin: auto;
   }
}