.input-error {
 color: white;
 font-size: 12px;
 line-height: 15px;
max-width: 358px;
position: absolute;
width: 246px;
top: 55px
  }

  .input-error:nth-child(3) {
    width: 100%;
    left: 20px;
    top: 95px;
  }

  .input-error:nth-child(2) {
    width: 100%;
    left: 0px;
    top: 60px
  }

   @media (max-width: 1024px) {
    .input-error:nth-child(3) {
      width: 80%;
  }}

  @media (max-width: 425px) {
    .input-error:nth-child(3) {
      font-size: 10px;
 line-height: 12px;
  }}
