.popup__slide-btn_right {
 background-image: url(../../../../images/button_right.png);
 margin-left: 10px;
  }

  @media (max-width: 900px) {
    .popup__slide-btn_right {
        margin-left: 5px;
  }}