.footer__confidence {
   width: 290px;
   font-size: 11px;
   line-height: 18px;
   font-weight: 400;
   color: #65665C;
   margin: 0;
   padding-top: 45px;
  }

  @media (max-width: 768px) { 
   .footer__confidence {
      width: 270px;
   }
  }