.priority__text {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    width: 600px;
    text-align: center;
    margin: auto;
    max-width: calc(100% - 200px);
}

@media (max-width: 768px) {
    .priority__text {
      font-size: 12px;
    line-height: 18px;
    max-width: calc(100% - 20px);
    }
  }