.header__link {
  margin-left: 32px;
  text-decoration: none;
  color: black;
  }

  .header__link:hover {
opacity: 0.4;
  }

  @media (max-width: 768px) {
    .header__link {
    margin-top: 6px;
    }
  }