.properties__button {
    background-color: white;
    margin-bottom: 250px;
    width: 192px;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}

.properties__button:hover {
    opacity: 0.6;
}