.property__image_view-all {
    width: calc(350px/1.5);
    max-height: calc(230px/1.5);
    margin-left: 20px;
}

@media (max-width: 1110px) {
    .property__image_view-all {
        margin-left: 0;
        margin-bottom: 20px;
    }
}