.sort {
    background-color:  #F5F5F2;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 1190px) {
    .sort {
        flex-direction: column;
        align-items: flex-start;
        height: 230px;
        padding-left: 20px;
    }
}